.Header {
  display: flex;
  align-items: center;
  padding: 20px 0px;
  border-bottom: 1px solid rgb(226, 226, 226);
}

.Header > div {
  display: flex;
}

.Header .header__center {
  width: 50%;
  font-size: 2.5rem;
  justify-content: center;
}

.Header .header__left {
  width: 25%;
  justify-content: flex-start;
}
.Header .header__right {
  width: 25%;
  justify-content: flex-end;
}
